<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat:wght@400;900&family=Sacramento&family=Ubuntu&family=Urbanist:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <title>Guesture Classification</title>
    </head>

    <body>
        <h1 class = "heading">Gesture Classification</h1>

        {% block content %}

        <img src="https://i.pinimg.com/736x/de/5a/79/de5a79620e46adf6ac3fbe7a971d64c7.jpg" alt="" class="centreAlign fingerImage">

        <form action="{{ url_for('predict') }}" method="post" class = "mainForm">
            <button type="submit" class="btn btn-primary btn-lg buttonStyle">Classify</button>
        </form>
        {% endblock %}
    </body>

</html>